<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Przewodnik Górski</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script>
        function removeAlert() {
            if (document.getElementById("successAlert")) {
                setTimeout(() => document.getElementById("successAlert").remove(), 4000)
            }
            if (document.getElementById("failureAlert")) {
                setTimeout(() => document.getElementById("failureAlert").remove(), 4000)
            }
        }
    </script>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-light bg-success">
    <div class="container-fluid ">
        <a class="navbar-brand text-light" href="/">Przewodnik Górskiego Wędrownika</a>
        <a class="btn btn-outline-light" href="/">
            Powrót
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div style="max-width: 1200px; margin: 125px auto 275px; border: 1px solid #a8a8a8; border-radius: 5px; padding-top: 15px;">
        <h4 class="d-flex justify-content-center">Dodawanie odcinka do strefy {{ zone.name }}</h4>
        <hr/>
        <form method="post" action="/add-section/{{ zone.id }}">
            {% if wasCreated == true %}
                <div id="successAlert"
                     class="alert alert-success alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-center"><strong>Sukces!</strong></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="d-flex justify-content-center">Odcinek został poprawnie dodany.</div>
                </div>
            {% elif wasCreated == false %}
                <div id="failureAlert"
                     class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-center">
                        <strong>Niepowodzenie!</strong>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="d-flex justify-content-center">
                        Dodawanie odcinka nie powiodło się. Upewnij się, że wybrano destynacje początkową
                        i końcową, a nazwa odcinka jest unikalna w wybranej strefie.
                    </div>
                </div>

            {% endif %}
            <div class="row">
                <div class="col-sm-4" >
                    <div class="container">
                        <p>Destynacja początkowa:</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <select name="startDestination"  class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                                <option value="-1" selected>Wybierz</option>
                                {% for destination in zone.destinations %}
                                    <option value="{{ destination.id }}">{{ destination.name }}</option>
                                {% endfor %}
                            </select>
                          <button class="btn btn-success" type="button">Dodaj</button>
                        </div>
                        <br>
                        <p>Destynacja końcowa:</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <select name="endDestination" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                                <option value="-1" selected>Wybierz</option>
                                    {% for destination in zone.destinations %}
                                        <option value="{{ destination.id }}">{{ destination.name }}</option>
                                    {% endfor %}
                            </select>
                          <button class="btn btn-success" type="button">Dodaj</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Nazwa:</label>
                        <input name="name" type="text" class="form-control" id="inputName" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPoints" class="form-label">Punkty GOT:</label>
                        <input name="gotPoints" type="number" class="form-control" id="inputPoints" min="0" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputLength" class="form-label">Długość (km):</label>
                        <input name="length" type="number" class="form-control" id="inputLength" min="0" step="0.01" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container">
                        <div class="mb-3">
                            <label for="isOpenGroup" class="form-label">Czy otwarta:</label>
                            <div id="isOpenGroup" class="d-grid gap-2 d-md-flex justify-content-md-evenly" >
                                <div>
                                    <input name="isOpen" class="form-check-input" type="radio" id="isOpenTrue" value="true" required>
                                    <label for="isOpenTrue">Tak</label>
                                </div>
                                <div>
                                    <input name="isOpen" class="form-check-input" type="radio" id="isOpenFalse" value="false" required>
                                    <label for="isOpenFalse">Nie</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="openingDate" class="form-label">Data otwarcia:</label>
                            <input name="openingDate" type="date" class="form-control" id="openingDate">
                        </div>
                        <div class="mb-3">
                            <label for="closingDate" class="form-label">Data zamknięcia:</label>
                            <input name="closingDate" type="date" class="form-control" id="closingDate">
                        </div>
                        <br>
                        <div class="d-flex flex-column mb-3">
                            <button type="submit" class="btn btn-success">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="text-sm-start bg-success p-1">
    <div class="text-center p-1">
        <a class="text-light" href="#">Przewodnik Górskiego Wędrownika - © 2020</a>
    </div>
</footer>
</body>
</html>