<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Przewodnik Górski</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script>
        function removeAlert() {
            if (document.getElementById("successAlert")) {
                setTimeout(() => document.getElementById("successAlert").remove(), 4000)
            }
        }
    </script>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-light bg-success">
    <div class="container-fluid ">
        <a class="navbar-brand text-light" href="/">Przewodnik Górskiego Wędrownika</a>
        <div>
        <span class="mx-2">
                <span class="navbar-text text-white">Witaj, Kamila!</span>
            <span class="ms-1 me-2">
            <img style="border-radius: 10px" width="36px" height="36px"
                 src="/static/avatar.png"/>            </span>
                <a class="btn btn-outline-light text-white" href="/">Wyloguj</a>
        </span>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="text-dark">Twoje zaplanowane Wycieczki</h2>
            <form method="post" action="/planned-trips">
                <div class="input-group mb-3">
                    <input name="pattern" type="text" class="form-control" placeholder="Wyszukaj wycieczkę" aria-label="Wyszukaj wycieczkę">
                    <button class="btn btn-success" type="submit">
                        <img width="24px" height="24px" src="/static/search.png">
                    </button>
                </div>
                {% if search_unsuccessful %}
                    <div id="successAlert"
                         class="alert alert-danger alert-dismissible fade show" role="alert">
                        Nie znaleziono wycieczek pasujących do wpisanej frazy
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </form>
            <nav id="myScrollspy">
                <ul class="nav nav-pills flex-column">
                    {% for trip in trips %}
                        <a class="nav-link" href="#trip-{{ trip.id }}">
                            <div>
                                <p class="text-dark fw-normal"> {{ trip.name }}</p>
                                <p style="padding-left:2em" class="text-muted fw-normal">
                                    Od: {{ trip_data[trip][0] }} Do: {{ trip_data[trip][1] }} </p>
                                <hr/>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-md-6" style="max-height: 90vh;overflow-y: scroll;">
            <div data-spy="scroll" data-target="#myScrollspy" data-offset="10">
                {% for trip in trips %}
                    <a id="trip-{{ trip.id }}"></a>
                    <hr/>
                    <h4 style="text-align: center;" >{{ trip.name }}</h4>
                    <hr/>
                    <p><strong>Destynacja początkowa:</strong> {{ trip_data[trip][0] }}</p>
                    <p><strong>Destynacja końcowa:</strong> {{ trip_data[trip][1] }}</p>
                    <p><strong>Punkty GOT:</strong> {{ trip_data[trip][2] }}</p>
                    <p><strong>Długość:</strong> {{ trip_data[trip][3] }} km</p>
                    <hr/>
                <div data-spy="scroll" data-target="#myScrollspy" data-offset="10">
                    {% for section in trip.sections %}
                        <div style="border: 1px solid black; border-radius: 5px; padding: 5px; margin-left: 60px; ">
                            <img width="30px" height="30px"
                                 src="https://cdn.onlinewebfonts.com/svg/img_567369.png">
                            <strong class="text-dark"> {{ section.name }}</strong>
                            <br>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4">Początek: </div>
                                    <div class="col-sm-8"> {{ section.startDestination.name }} </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Koniec: </div>
                                    <div class="col-sm-8"> {{ section.endDestination.name }} </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Długość: </div>
                                    <div class="col-sm-8"> {{ section.length }} km </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Punkty GOT: </div>
                                    <div class="col-sm-8"> {{ section.gotPoints }} </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex p-2 justify-content-md-end">
            <a class="btn btn-success" href="/" role="button">Anuluj</a>
        </div>
    </div>
</div>
<footer class="text-sm-start bg-success p-1">
    <div class="text-center p-1">
        <a class="text-light" href="#">Przewodnik Górskiego Wędrownika - © 2020</a>
    </div>
</footer>
</body>
</html>