<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Przewodnik Górski</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-light bg-success">
    <div class="container-fluid ">
        <a class="navbar-brand text-light" href="/">Przewodnik Górskiego Wędrownika</a>
        <a class="btn btn-outline-light" href="/">
            Powrót
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">


            {% if possibleNextTourSections|length > 1 %}
                {% for possibleNextTourSection in possibleNextTourSections %}
                    <div class="card m-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img width="30px" height="30px"
                                     src="https://cdn.onlinewebfonts.com/svg/img_567369.png">
                                <span class="p-2"><strong>{{ possibleNextTourSection.name }} </strong></span>
                            </h5>
                            <div style="padding-left: 15%;">
                                <p>
                                    <img width="30px" height="30px"
                                         src="https://images.vexels.com/media/users/3/137476/isolated/preview/d89adf16dc6fce8b9abe54aec3af2546-four-peak-mountain-icon-by-vexels.png">
                                    <strong class="text-dark"> {{ possibleNextTourSection.rangeName }}</strong>
                                </p>
                                <p>
                                    <img width="30px" height="30px"
                                         src="https://cdn2.iconfinder.com/data/icons/map-pins-and-navigation-solid/32/zone_area_location_map_pin_address_origin_address_chek_point-512.png">
                                    <strong class="text-dark"> {{ possibleNextTourSection.zoneName }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="m-4 p-4">
                    <div class="alert alert-secondary text-center" role="alert">
                        <strong>Brak dalszych odcinków</strong>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6" style="max-height: 90vh;overflow-y: scroll;">

            <header class="text-center">
                <h3><strong>Planowanie Wycieczki</strong></h3>
            </header>
            <div class="card m-4">
                <div class="card-body">
                    <p><strong>Punkty GOT: </strong> {{ currentTour.gotPoints }} </p>
                    <p><strong>Długość: </strong> {{ currentTour.lengthKM }} KM </p>
                </div>
            </div>
            <header class="text-center">
                <h3><strong>Odcinki</strong></h3>
            </header>
            {% for currentTourSection in currentTourSections %}
                <div class="card m-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <img width="30px" height="30px"
                                 src="https://cdn.onlinewebfonts.com/svg/img_567369.png">
                            <span class="p-2"><strong>{{ currentTourSection.name }} </strong></span>
                        </h5>
                        <div style="padding-left: 15%;">
                            <p>Początek: {{ currentTourSection.startDestination.name }}</p>
                            <p>Koniec: {{ currentTourSection.endDestination.name }} </p>
                            <p>Długość: {{ currentTourSection.length }} </p>
                            <p>Punkty GOT: {{ currentTourSection.gotPoints }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
</div>
<footer class="text-sm-start bg-success p-1">
    <div class="text-center p-1">
        <a class="text-light" href="/">Przewodnik Górskiego Wędrownika - © 2020</a>
    </div>
</footer>
</body>
</html>